.portfolio__content {
    padding: 20px;
    width: 100%;
  }
  
  .portfolio__content__filter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px dashed var(--yellow-theme-main-color);
  }
  
  .portfolio__content__filter li {
    font-size: 16px;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    color: var(--yellow-theme-main-color);
    text-transform: uppercase;
    padding: 12px 20px;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .portfolio__content__filter li.active {
    background: var(--yellow-theme-main-color);
    color: var(--yellow-theme-sub-text-color);
    font-weight: 600;
    border-radius: 25px;
  }
  
  .portfolio__content__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1.5rem;
    margin-top: 10px;
  }
  
  .portfolio__content__cards__item {
    height: auto;
    cursor: pointer;
    position: relative;
    object-fit: contain;
  }
  
  .portfolio__content__cards__item:hover .overlay {
    opacity: 1;
  }
  
  .portfolio__content__cards__item__img-wrapper {
    height: 100%;
  }
  
 
  
  .portfolio__content__cards__item__img-wrapper  img {
    height: inherit;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: var(--yellow-theme-main-color);
  }
  
  .overlay div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay div p {
    color: #000000;
    margin: 0px;
    font-size: 4rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    animation: typingEffect 1s steps(30, end);
  }
  
  .overlay div button {
    cursor: pointer;
    margin-top: 16px;
    padding: 10px 70px;
    font-size: 2rem;
    background: transparent;
    color: #000;
    border: 1.5px solid #000;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .overlay div a {
    text-decoration: none;
  }
  
  @media only screen and (max-width: 480px) {
    .portfolio__content__filter li {
      font-size: 11px;
    }
  
    .portfolio__content__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .portfolio__content__filter li {
      font-size: 14px;
    }
  
    .portfolio__content__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .portfolio__content__cards__item .overlay div p {
      font-size: 2.5rem;
    }
  }
  
  @keyframes typingEffect {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  