.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1; 
}

.navbar__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0px 20px;
  flex: 1;
}

.navbar__container__logo {
  color: var(--yellow-theme-main-color);
  cursor: pointer;
}

.navbar__container__menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.navbar__container__menu__item {
  line-height: 40px;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  position: relative; /* Ensure relative positioning for pseudo-element */
}

.navbar__container__menu__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: all 0.5s ease;
}

.navbar__container__menu__item:hover::after {
  width: 100%;
  background: red;
}

.navbar__container__menu__item__links {
  color: rgb(243, 159, 64);
  text-decoration: none;
  padding: 0.5rem;
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    background: #110808; 
    transition: all 0.5s ease;
  }

  .navbar__container__menu.active {
    left: 0px;
    opacity: 1;
    z-index: 1;
  }

  .navbar__container__menu__item {
    border-bottom: 1px solid #282828;
    margin: 0px;
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 20px;
  }
}
